<% if session['message']%>
  <%= session['message'] %>
<% end %>

<h1>All Posts</h2>
<ul>
<% @posts.each do |post| %>
  Title: <a href="/posts/<%= post.id %>"><%= post.title %></a>
  <li> <%= calculate_time_difference(Time.now - post.updated_at)%></li>
  <li><a href="/posts/<%= post.id %>/like">Like this post!</a>
  <li>Likes: <%= post.like_count %></li>
<% end %>
</ul>


