<% if session['message']%>
  <%= session['message'] %>
<% end %>

<h1>Create new post</h1>

<div class='post-form'>
  <form action='/posts' method='post' id='new-post'>
    <label for='title'>Title:</label>
    <input type='text' name='title' class='clear-input'><br>

    <label for='author'>Author:</label>
    <input type='text' name='author' class='clear-input'><br>

    <label for='body'>Body:</label>
    <textarea name='body'></textarea class='clear-input'><br>

    <label for="post_tags">Tags:</label>
    <input id="post_tags" name="post[tags]" placeholder="Tag1, tag2, etc...">

    <input type='submit' value='Submit Post'>
  </form>

<h1>All Posts</h2>
<ul class="post-list">
<% @posts.each do |post| %>
  <div class='post'>
    Title: <a href="/posts/<%= post.id %>"><%= post.title %></a>
    <li> <%= calculate_time_difference(Time.now - post.updated_at)%></li>
    <li><a href="/posts/<%= post.id %>/like">Like this post!</a>
    <li>Likes: <%= post.like_count %></li> <br />
  </div>
<% end %>
</ul>



</div>
